<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <body>

      <h1>New Question</h1>



      <%= form_for :question, url: questions_path do |f| %><br/>
          <h4>Subject</h4>

          <p>
            <%= f.collection_select(:subject_title, Subject.all, :subject_title, :subject_title ) %>
          </p>


          <h4>Difficulty</h4>
          <p>
            <%= f.select(:difficulty) do %>
            <% [[Question::EASY, Question::DIFFICULTY_LOW],[Question::MEDIUM, Question::DIFFICULTY_MEDIUM],[Question::HARD, Question::DIFFICULTY_HIGH]].each do |d|  %>
                <%= content_tag(:option, d.first, value: d.last) %>
                    <% end %>
            <% end %>
          </p>

          <%= f.hidden_field :user_id, :value => current_user.id %>

          <p>
            <%= f.label :Question %><br>
            <%= f.text_area :title %>
          </p>

          <h2>Answers:</h2>

          <p>
            <%= f.label :Correct%><br>
            <%= f.text_area :rightAns %>
          </p>

          <p>
            <%= f.label :InCorrect %><br>
            <%= f.text_area :wrongAns1 %>
          </p>

          <p>
            <%= f.label :InCorrect %><br>
            <%= f.text_area :wrongAns2 %>
          </p>

          <p>
            <%= f.label :InCorrect %><br>
            <%= f.text_area :wrongAns3 %>
          </p>

          <p>
            <%= f.submit %>
          </p>
          </body>
      <% end %>

      </div>
  </div>
</div>