<%
   game_id = @game_id
   subject = @subject
   question = @question
   answers = [question.rightAns, question.wrongAns1, question.wrongAns2, question.wrongAns3]
   answers = answers.shuffle
   correct_ans_index = answers.index(question.rightAns)
   game = Game.find(game_id)
%>

<html>
<%= stylesheet_link_tag "game.css.scss", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.progressTimer" %>

<div style="display: none;">
  <p id="correct_ans"><%= correct_ans_index %></p>

  <p id="game_id"><%= game_id %></p>

  <p id="subject"><%= subject %></p>
</div>



<body s>
<div class="container bg-info" id="subject_modal"  data-backdrop="static" data-keyboard="false" style="width: 100%; height: 100%; background-color: lightblue">
  <div class="modal-dialog">
    <div class="modal-content " style="width: 600px; border: 2px solid darkblue; margin-left: auto; margin-right: auto; margin-top: 15%; padding-top: 20px;">
      <div class="modal-header" >

        <div id="progressTimer"></div>


        <h2><span class="label label-warning" id="qid" ><%= @question.subject_title %></span>
          <h2 class="questionTitle" style="padding: 5px;"><%= @question.title %></h2>
        </h2>

      </div>
      <div class="modal-body" >



        <div class="col-xs-3 col-xs-offset-5">
          <div id="loadbar" style="display: none;">
            <div class="blockG" id="rotateG_01"></div>
            <div class="blockG" id="rotateG_02"></div>
            <div class="blockG" id="rotateG_03"></div>
            <div class="blockG" id="rotateG_04"></div>
            <div class="blockG" id="rotateG_05"></div>
            <div class="blockG" id="rotateG_06"></div>
            <div class="blockG" id="rotateG_07"></div>
            <div class="blockG" id="rotateG_08"></div>
          </div>
        </div>

        <div class="quiz" id="quiz" data-toggle="buttons">
          <p>Correct Answer: <%= answers.index(question.rightAns) %></p>
          <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"></span>
            <input type="radio" name="q_answer" value="0"><%= answers[0] %></label>
          <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"></span>
            <input type="radio" name="q_answer" value="1"><%= answers[1] %></label>
          <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"></span>
            <input type="radio" name="q_answer" value="2"><%= answers[2] %></label>
          <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"></span>
            <input type="radio" name="q_answer" value="3"><%= answers[3] %></label>
        </div>
      </div>
      <div class="modal-footer text-muted">
        <span id="answer"></span>
      </div>
    </div>
  </div>
</div>



<script>



    $("#progressTimer").progressTimer({
        onFinish: function() {

        }
    });


    $(function () {
        var loading = $('#loadbar').hide();
        $(document)
                .ajaxStart(function () {
                    loading.show();
                }).ajaxStop(function () {
                    loading.hide();
                });

        $("label.btn").on('click', function () {
            var choice = $(this).find('input:radio').val();
            $('#loadbar').show();
            $('#quiz').fadeOut();
            setTimeout(function () {
                $("#answer").html($(this).checking(choice));
                $('#quiz').show();
                $('#loadbar').fadeOut();
            }, 1500);
        });

        $ans = document.getElementById("correct_ans").innerHTML;

        $.fn.checking = function (ck) {
            if (ck != $ans) {
                var game_ID = document.getElementById("game_id").innerHTML
                var subject = document.getElementById("subject").innerHTML
                var url = '/game/question_results?result=INCORRECT&subject_title=' + subject + "&game_id=" + game_ID;

                Turbolinks.visit(url);
            }
            else {
                var game_ID = document.getElementById("game_id").innerHTML
                var subject = document.getElementById("subject").innerHTML
                var url = '/game/question_results?result=CORRECT&subject_title=' + subject + "&game_id=" + game_ID;
                Turbolinks.visit(url);
            }
        };


    });


</script>
</body>
</html>