<%
   game_id = @game_id
   subject = @subject
   question = @question
   bonus = @bonus
   answers = [question.rightAns, question.wrongAns1, question.wrongAns2, question.wrongAns3]
   answers = answers.shuffle
   wrong_answers = [question.wrongAns1, question.wrongAns2, question.wrongAns3]
   wrong_answers = wrong_answers.shuffle
   wrong_answer_one_index = answers.index(wrong_answers[0])
   wrong_answer_two_index = answers.index(wrong_answers[1])
   correct_answer_index = answers.index(question.rightAns)
   correct_ans = answers.index(question.rightAns)
%>

<html>
<%= stylesheet_link_tag "game.css.scss", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.progressTimer" %>
<%= javascript_include_tag "ask_question.js" %>

<div style="display: none;">
  <p id="correct_ans"><%= correct_ans %></p>

  <p id="correct_answer_index"><%= correct_answer_index %></p>

  <p id="game_id"><%= game_id %></p>

  <p id="subject"><%= subject %></p>

  <p id="bonus"><%= bonus %></p>

  <p id="question_id"><%= question.id %></p>

  <p id="play_sounds"><%= current_user.play_sounds %></p>

  <p id="wrong_answer_1_index"><%= wrong_answer_one_index %></p>

  <p id="wrong_answer_2_index"><%= wrong_answer_two_index %></p>
</div>



<body style="background-color: lightblue;">

<audio id="ticktock" loop>
  <source src="/assets/tick_tock.mp3" type="audio/mpeg">
  <source src="/assets/tick_tock.ogg" type="audio/ogg">
</audio>
<audio id="wrong">
  <source src="/assets/wrong.mp3" type="audio/mpeg">
  <source src="/assets/wrong.ogg" type="audio/ogg">
</audio>

<audio id="right">
  <source src="/assets/right.mp3" type="audio/mpeg">
  <source src="/assets/right.ogg" type="audio/ogg">
</audio>


<script type="text/javascript">
    var timerSound = document.getElementById("ticktock");
    var wrongSound = document.getElementById("wrong");
    var rightSound = document.getElementById("right");
    var sound = document.getElementById("play_sounds").innerHTML;
    if (sound == "false") {
        timerSound.muted = true;
        wrongSound.muted = true;
        rightSound.muted = true;
    }
</script>

<div class="container-fluid bg-info" id="question_container" style="width: 100%; height: 100%; background-color: lightblue;">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 placeholder">

      <div class="container-fluid" style=" margin-left: auto; margin-right: auto; margin-top: 5%; padding-top: 2%;">

        <div id="progressTimer"></div>

        <h2><span class="label label-warning" id="qid" ><%= @question.subject_title %></span>
          <h2 class="questionTitle" style="padding: 1%;"><%= @question.title %></h2>
        </h2>

        <div class="col-xs-3 col-xs-offset-5">
          <div id="loadbar" style="display: none;">
            <div class="blockG" id="rotateG_01"></div>
            <div class="blockG" id="rotateG_02"></div>
            <div class="blockG" id="rotateG_03"></div>
            <div class="blockG" id="rotateG_04"></div>
            <div class="blockG" id="rotateG_05"></div>
            <div class="blockG" id="rotateG_06"></div>
            <div class="blockG" id="rotateG_07"></div>
            <div class="blockG" id="rotateG_08"></div>
          </div>
        </div>

        <div class="quiz" id="quiz" data-toggle="buttons">
          <p>Correct Answer: <%= answers.index(question.rightAns) %></p>
          <label class="element-animation1 btn btn-lg btn-primary btn-block" id="first_answer" ><span class="btn-label"></span>
            <input type="radio" name="q_answer" value="0"><%= answers[0] %></label>
          <label class="element-animation2 btn btn-lg btn-primary btn-block" id="second_answer" ><span class="btn-label"></span>
            <input type="radio" name="q_answer" value="1"><%= answers[1] %></label>
          <label class="element-animation3 btn btn-lg btn-primary btn-block" id="third_answer" ><span class="btn-label"></span>
            <input type="radio" name="q_answer" value="2"><%= answers[2] %></label>
          <label class="element-animation4 btn btn-lg btn-primary btn-block" id="fourth_answer" ><span class="btn-label"></span>
            <input type="radio" name="q_answer" value="3"><%= answers[3] %></label>
        </div>

        <% if @current_game.challenge == Challenge::CHALLENGE_NO %>

            <span id="answer"></span>
            <div class="container"  aria-label="..." style="padding-top: 2%;">
              <% if current_user.has_extra_time?%>
                  <%= link_to game_use_power_up_extra_time_path(:user_id => current_user.id), class: 'btn btn-primary btn', id: 'time', title: 'Extra Time', remote: true do %>
                      Time
                  <% end %>
              <% end %>

              <% if current_user.has_remove_wrong_answers?%>

                  <%= link_to game_use_power_up_remove_wrong_answer_path(:user_id => current_user.id), class: 'btn btn-primary btn', id: 'half', title: 'Remove Answers', remote: true do %>
                      50/50
                  <% end %>
              <% end %>

              <% if current_user.has_skip_question?%>
                  <%= link_to game_use_power_up_skip_question_path(:user_id => current_user.id), class: 'btn btn-primary btn', id: 'skip', title: 'Skip', remote: true do %>
                      Skip
                  <% end %>
              <% end %>

            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<!-- Question Rating Modal   -->
<div class="modal fade" id="rate_question" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h2 class="modal-title">Question Rating</h2>
      </div>

      <div class="modal-body">
        <p>Please Rate The Question Difficulty</p>

        <select id="rating" class="form-control">
          <option value="none" style="width: 150px; margin-left: 2px; margin-bottom: 2px;">Select Rating or Continue to Skip
          </option>
          <option value="easy" style="width: 150px; margin-left: 2px; margin-bottom: 2px;">
            Low Difficulty
          </option>
          <option value="medium" style="width: 150px; margin-left: 2px; margin-bottom: 2px;">
            Medium Difficulty
          </option>
          <option value="hard" style="width: 150px; margin-left: 2px; margin-bottom: 2px;">
            Hard Difficulty
          </option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="submit_rating" data-dismiss="modal">Continue</button>
      </div>

    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

<script>
    loadTimerBar();
</script>

</body>
</html>