<% current_game = Game.find(@game.id) %>
<% game_id = current_game.id %>
<% player1 = User.find(current_game.player1_id) %>
<% player2 = User.find(current_game.player2_id) %>

<div style="display: none;">
  <p id="game_id"><%= game_id %></p>
</div>

<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <meta charset="UTF-8" />
    <title>SnapTrivia</title>
    <style type="text/css">
          body {
              background: lightblue;
          }
            #wheelcanvas{
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
      </style>

    <script></script>

  </head>

<body>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-justified thumbnail">
        <li class="active"><a href="#">
          <!--  Image should go here  -->
          <p class="list-group-item-text">Game Status <%= current_game.game_status.to_s %></p>

          <h4 class="list-group-item-heading"><%=  player1.name   %></h4>
          <p class="list-group-item-text">Turn count = <%= current_game.turn_count.to_s %></p>
          <p class="list-group-item-text">Answer Correct = <%= current_game.answers_correct.to_s %></p>
          <p class="list-group-item-text">Total Questions = <%= current_user.total_questions.to_s %></p>
          <p class="list-group-item-text">Player 1 turn = <%= current_game.player1_turn.to_s %></p>
          <p class="list-group-item-text">Art = <%= current_game.art_trophy_p1.to_s %></p>
          <p class="list-group-item-text">Entertainment = <%= current_game.entertainment_trophy_p1.to_s %></p>
          <p class="list-group-item-text">History = <%= current_game.history_trophy_p1.to_s %></p>
          <p class="list-group-item-text">Geography = <%= current_game.geography_trophy_p1.to_s %></p>
          <p class="list-group-item-text">Sports = <%= current_game.sports_trophy_p1.to_s %></p>
          <p class="list-group-item-text">Science = <%= current_game.science_trophy_p1.to_s %></p>
          <p class="list-group-item-text">Score = <%= player1.score.to_s %></p>
          <p class="list-group-item-text">Level = <%= player1.level.to_s %></p>
        </a></li>
        <li class="disabled"><a href="#">
          <!--  Image should go here  -->
          <h4 class="list-group-item-heading"><%= player2.name %></h4>
          <p class="list-group-item-text">Art = <%= current_game.art_trophy_p2.to_s %></p>
          <p class="list-group-item-text">Entertainment = <%= current_game.entertainment_trophy_p2.to_s %></p>
          <p class="list-group-item-text">History = <%= current_game.history_trophy_p2.to_s %></p>
          <p class="list-group-item-text">Geography = <%= current_game.geography_trophy_p2.to_s %></p>
          <p class="list-group-item-text">Sports = <%= current_game.sports_trophy_p2.to_s %></p>
          <p class="list-group-item-text">Science = <%= current_game.science_trophy_p2.to_s %></p>
          <p class="list-group-item-text">Total Questions = <%= player2.total_questions.to_s %></p>
          <p class="list-group-item-text">Score = <%= player2.score.to_s %></p>
          <p class="list-group-item-text">Level = <%= player2.level.to_s %></p>
        </a></li>
      </ul>

      <!-- This section will add trophies on the game page -->

      <!-- Diagnostic -->
        <p>Number Correct Answers: </p>

        <h3 class="list-group-item-heading"><%= player1.name %></h3>
        <ul class="fa-ul" id="player1_trophies">

          <% if @game.art_trophy_p1? %>
              <li class="fa-stack fa-5x">
                <i class="fa fa-paint-brush fa-stack-5x"></i>
              </li>
          <% end %>
          <% if @game.entertainment_trophy_p1? %>
              <li class="fa-stack fa-5x">
                <i class="fa fa-film fa-stack-5x"></i>
              </li>
          <% end %>
          <% if @game.history_trophy_p1? %>
              <li class="fa-stack fa-5x">
                <i class="fa fa-book fa-stack-5x"></i>
              </li>
          <% end %>
          <% if @game.geography_trophy_p1? %>
              <li class="fa-stack fa-5x">
                <i class="fa fa-globe fa-stack-5x"></i>
              </li>
          <% end %>
          <% if @game.science_trophy_p1? %>
              <li class="fa-stack fa-5x">
                <i class="fa flask fa-stack-5x"></i>
              </li>
          <% end %>
          <% if @game.sports_trophy_p1? %>
              <li class="fa-stack fa-5x">
                <i class="fa fa-futbol-o fa-stack-5x"></i>
              </li>
          <% end %>
        </ul>

      <h3 class="list-group-item-heading"><%= player2.name %></h3>
      <ul class="fa-ul" id="player2_trophies">
        <% if @game.art_trophy_p2? %>
            <li class="fa-stack fa-5x">
              <i class="fa fa-paint-brush fa-stack-5x"></i>
            </li>
        <% end %>
        <% if @game.entertainment_trophy_p2? %>
            <li class="fa-stack fa-5x">
              <i class="fa fa-film fa-stack-5x"></i>
            </li>
        <% end %>
        <% if @game.history_trophy_p2? %>
            <li class="fa-stack fa-5x">
              <i class="fa fa-book fa-stack-5x"></i>
            </li>
        <% end %>
        <% if @game.geography_trophy_p2? %>
            <li class="fa-stack fa-5x">
              <i class="fa fa-globe fa-stack-5x"></i>
            </li>
        <% end %>
        <% if @game.science_trophy_p2? %>
            <li class="fa-stack fa-5x">
              <i class="fa flask fa-stack-5x"></i>
            </li>
        <% end %>
        <% if @game.sports_trophy_p2? %>
            <li class="fa-stack fa-5x">
              <i class="fa fa-futbol-o fa-stack-5x"></i>
            </li>
        <% end %>
      </ul>

      <!-- End trophy addition -->

      <!-- This section adds the number of questions answered correctly in a row -->


      <% sleep(1) %>
    </div>
  </div>
</div>


<canvas id="wheelcanvas" width="500" height="500"  onclick="spin();"></canvas>

<script type="text/javascript">
    drawRouletteWheel()
</script>

</body>

</html>