<% current_game = Game.find(@game.id) %>
<% player1 = User.find(current_game.player1_id) %>
<% player2 = User.find(current_game.player2_id) %>
<% question_type = 'Standard' %>
<% can_challenge = current_game.can_challenge? %>
<% if current_game.player2.id != current_user.id && current_game.player1_turn == false %>
    <% current_game.player2 == current_game.player1 %>
    <% current_game.player1 == current_user %>
<% end %>


<html>

<header style="background-color: lightblue; padding-top: 3%">

  <div style="display: none;">
    <p id="game_id"><%= current_game.id %></p>

    <p id="question_type"><%= question_type %></p>

  </div>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <meta charset="UTF-8"/>
  <title>SnapTrivia</title>
  <style type="text/css">
      body {
          background: lightblue;
      }

      #wheelcanvas {
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
  </style>

</header>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav nav-pills nav-centered thumbnail">
        <li class="active"><a href="#">

          <h3 class="list-group-item-heading"><%= current_user.name %></h3>
          <ul class="fa-ul" id="player1_trophies">
            <p class="list-group-item-text">Level: <%= current_user.level.to_s %></p>
            <h5>Subject Trophies:</h5>

            <!-- This section will add trophies on the game page -->
            <% if current_user.id == @game.player1.id %>
                <%= render 'game/player1' %>
            <%else%>
                <%= render 'game/player2' %>
            <% end %>

            <h5 class="list-group-item-text">Answer Correct:</h5>
            <%= render 'answers_correct' %>
            <p class="list-group-item-text">Coins: <%= current_user.coins %></p>
          </ul>

        </a>
        </li>

        <li class="disabled"><a href="#">

          <!--  Image should go here  -->
          <h4 class="list-group-item-heading"><%= @opponent.name %></h4>

          <h5 class="list-group-item-text">Level = <%= @opponent.level.to_s %></h5>
          <h5>Subject Trophies:</h5>

          <ul class="fa-ul" id="player2_trophies">
            <% if @opponent.id == @game.player2.id %>
                <%= render 'game/player2' %>
            <%else%>
                <%= render 'game/player1' %>
            <% end %>
          </ul>

        </a></li>
      </ul>

      <!-- End trophy addition -->

    </div>
  </div>
  <div>
    <canvas id="wheelcanvas" width="500" height="500" onclick="spin();" class="img-responsive"></canvas>
  </div>
</div>

<!-- Subject Modal   -->
<div class="container-fluid">
  <div class="modal fade" id="select_subject" tabindex="-1" role="dialog" aria-labelledby="subject_modal_label" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
      <div class="modal-content " style="width: 182px; border: 2px solid darkblue; margin-left: auto; margin-right: auto; margin-top: 15%; ">

        <h3 style="margin-left: 10px;">Pick a Subject</h3>

        <% @game.get_available_trophies(current_user.id).each do |prize| %>
            <% if prize == 'Art' %>
                <%= link_to game_ask_question_path(:subject => 'Art', :game_id => current_game.id, :bonus => 'true'), class: 'btn btn-large btn-primary', title: 'Art' do %>
                    <i class="<%= Subject::ART_ICON %>" style="width: 150px; margin-left: 2px; margin-bottom: 2px;">  <%= Subject::ART %></i>
                <% end %>
            <% end %>
            <% if prize == 'Entertainment' %>
                <%= link_to game_ask_question_path(:subject => 'Entertainment', :game_id => current_game.id, :bonus => 'true'), class: 'btn btn-large  btn-primary', title: 'Entertainment' do %>
                    <i class="<%= Subject::ENTERTAINMENT_ICON %>" style="width: 150px; margin-left: 2px; margin-bottom: 2px;">  <%= Subject::ENTERTAINMENT %></i>
                <% end %>
            <% end %>
            <% if prize == 'History' %>
                <%= link_to game_ask_question_path(:subject => 'History', :game_id => current_game.id, :bonus => 'true'), class: 'btn btn-large btn-primary', title: 'History' do %>
                    <i class="<%= Subject::HISTORY_ICON %>" style="width: 150px; margin-left: 2px; margin-bottom: 2px;"> <%= Subject::HISTORY %></i>
                <% end %>
            <% end %>
            <% if prize == 'Geography' %>
                <%= link_to game_ask_question_path(:subject => 'Geography', :game_id => current_game.id, :bonus => 'true'), class: 'btn btn-large btn-primary', title: 'Geography' do %>
                    <i class="<%= Subject::GEOGRAPHY_ICON %>" style="width: 150px; margin-left: 2px; margin-bottom: 2px;">  <%= Subject::GEOGRAPHY %></i>
                <% end %>
            <% end %>
            <% if prize == 'Science' %>
                <%= link_to game_ask_question_path(:subject => 'Science', :game_id => current_game.id, :bonus => 'true'), class: 'btn btn-large btn-primary', title: 'Science' do %>
                    <i class="<%= Subject::SCIENCE_ICON %>" style="width: 150px; margin-left: 2px; margin-bottom: 2px;">  <%= Subject::SCIENCE %></i>
                <% end %>
            <% end %>
            <% if prize == 'Sports' %>
                <%= link_to game_ask_question_path(:subject => 'Sports', :game_id => current_game.id, :bonus => 'true'), class: 'btn btn-large btn-primary', title: 'Sports' do %>
                    <i class="<%= Subject::SPORTS_ICON %>" style="width: 150px; margin-left: 2px; margin-bottom: 2px;">  <%= Subject::SPORTS %></i>
                <% end %>
            <% end %>
        <% end %>
        <% if can_challenge %>
            <%= link_to game_challenge_path(:game_id => current_game.id), class: 'btn btn-large btn-primary', title: 'Challenge' do %>
                Challenge
            <% end %>

        <% end %>
        <!--        -->

      </div>
    </div>
  </div>
</div>

<script>
    drawRouletteWheel()
</script>

</body>
</html>

<!-- Subject Modal Display -->

<% if @game.bonus == 'true' && @game.challenge == Challenge::CHALLENGE_NO %>
    <script> $('#select_subject').modal('show') </script>
<% end %>

