<% current_game = Game.find(@game.id) %>
<% correct_answers = current_game.answers_correct %>
<% game_id = current_game.id %>
<% player1 = User.find(current_game.player1_id) %>
<% player2 = User.find(current_game.player2_id) %>
<% player1_challenge_subject = '' %>
<% player2_challenge_subject = '' %>
<% player1_trophy_count = 0 %>
<% player2_trophy_count = 0 %>
<%= javascript_include_tag "jquery.progressTimer" %>

<div style="display: none;">
  <p id="game_id"><%= game_id %></p>

  <p id="player1_subject"><%= player1_challenge_subject %></p>

  <p id="player2_subject"><%= player2_challenge_subject %></p>
</div>

<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <meta charset="UTF-8"/>
  <title>SnapTrivia</title>
  <style type="text/css">
      body {
          background: lightblue;
      }

      #wheelcanvas {
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
  </style>

  <script></script>

</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-justified thumbnail">
        <li class="active"><a href="#">
          <!--  Image should go here  -->

          <h4 class="list-group-item-heading"><%= player1.name %></h4>
          <ul class="fa-ul" id="player1_trophies">
            <p class="list-group-item-text">Turn count = <%= current_game.turn_count.to_s %></p>

            <p class="list-group-item-text">Answer Correct = <%= current_game.answers_correct.to_s %></p>

            <p class="list-group-item-text">Total Questions = <%= current_user.total_questions.to_s %></p>

            <p class="list-group-item-text">Player 1 turn = <%= current_game.player1_turn.to_s %></p>

            <p class="list-group-item-text">Art = <%= current_game.art_trophy_p1.to_s %></p>

            <p class="list-group-item-text">Entertainment = <%= current_game.entertainment_trophy_p1.to_s %></p>

            <p class="list-group-item-text">History = <%= current_game.history_trophy_p1.to_s %></p>

            <p class="list-group-item-text">Geography = <%= current_game.geography_trophy_p1.to_s %></p>

            <p class="list-group-item-text">Sports = <%= current_game.sports_trophy_p1.to_s %></p>

            <p class="list-group-item-text">Science = <%= current_game.science_trophy_p1.to_s %></p>

            <p class="list-group-item-text">Score = <%= player1.score.to_s %></p>

            <p class="list-group-item-text">Level = <%= player1.level.to_s %></p>

            <p class="list-group-item-text">Player1 trophies = <%= current_game.player1_trophies.inspect %></p>

            <p class="list-group-item-text">Player1 tropies count = <%= current_game.player1_trophies.count %></p>

            <!-- This section will add trophies on the game page -->

            <% if @game.art_trophy_p1? %>
                <li class="fa-stack fa-3x">
                  <i class="fa fa-paint-brush fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.entertainment_trophy_p1? %>
                <li class="fa-stack fa-3x">
                  <i class="fa fa-film fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.history_trophy_p1? %>
                <li class="fa-stack fa-3x">
                  <i class="fa fa-book fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.geography_trophy_p1? %>
                <li class="fa-stack fa-3x">
                  <i class="fa fa-globe fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.science_trophy_p1? %>
                <li class="fa-stack fa-3x">
                  <i class="fa fa-flask fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.sports_trophy_p1? %>
                <li class="fa-stack fa-5x">
                  <i class="fa fa-futbol-o fa-stack-3x"></i>
                </li>
            <% end %>
          </ul>

        </a></li>
        <li class="disabled"><a href="#">
          <!--  Image should go here  -->
          <h4 class="list-group-item-heading"><%= player2.name %></h4>

          <p class="list-group-item-text">Player1 trophies = <%= current_game.player2_trophies.inspect %></p>

          <p class="list-group-item-text">Player1 tropies count = <%= current_game.player2_trophies.count %></p>
          
          <ul class="fa-ul" id="player2_trophies">
            <% if @game.art_trophy_p2? %>
                <li class="fa-stack fa-5x">
                  <i class="fa fa-paint-brush fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.entertainment_trophy_p2? %>
                <li class="fa-stack fa-5x">
                  <i class="fa fa-film fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.history_trophy_p2? %>
                <li class="fa-stack fa-5x">
                  <i class="fa fa-book fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.geography_trophy_p2? %>
                <li class="fa-stack fa-5x">
                  <i class="fa fa-globe fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.science_trophy_p2? %>
                <li class="fa-stack fa-5x">
                  <i class="fa flask fa-stack-5x"></i>
                </li>
            <% end %>
            <% if @game.sports_trophy_p2? %>
                <li class="fa-stack fa-5x">
                  <i class="fa fa-futbol-o fa-stack-5x"></i>
                </li>
            <% end %>
          </ul>

        </a></li>
      </ul>

      <!-- End trophy addition -->

      <% sleep(1) %>
    </div>
  </div>

  <!-- Subject Modal   -->

  <div class="modal fade" id="select_subject" tabindex="-1" role="dialog" aria-labelledby="subject_modal_label" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
      <div class="modal-content " style="width: 185px; border: 2px solid darkblue; margin-left: auto; margin-right: auto; margin-top: 15%; ">


        <h3 style="margin-left: 10px;">Pick a Subject From Each Player</h3>

        <% if !@game.art_trophy_p1? %>
            <a class="btn btn-large btn-primary" style="width: 170px; margin-bottom: 1px; margin-left: 5px; margin-right: 5px;" href="#" onclick="LaunchQuestion('Art')">
              <i class="fa fa-paint-brush"></i> Art </a><br/>
        <% end %>
        <% if !@game.entertainment_trophy_p1? %>
            <a class="btn btn-large btn-primary" style="width: 170px; margin-bottom: 1px; margin-left: 5px; margin-right: 5px;" href="#" onclick="LaunchQuestion('Entertainment')">
              <i class="fa fa-film"></i> Entertainment </a><br/>
        <% end %>
        <% if !@game.history_trophy_p1? %>
            <a class="btn btn-large btn-primary" style="width: 170px; margin-bottom: 1px; margin-left: 5px; margin-right: 5px;" href="#" onclick="LaunchQuestion('History')">
              <i class="fa fa-book"></i> History </a><br/>
        <% end %>
        <% if !@game.geography_trophy_p1? %>
            <a class="btn btn-large btn-primary" style="width: 170px; margin-bottom: 1px; margin-left: 5px; margin-right: 5px;" href="#" onclick="LaunchQuestion('Geography')">
              <i class="fa fa-globe"></i> Geography </a><br/>
        <% end %>
        <% if !@game.science_trophy_p1? %>
            <a class="btn btn-large btn-primary" style="width: 170px; margin-bottom: 1px; margin-left: 5px; margin-right: 5px;" href="#" onclick="LaunchQuestion('Science')">
              <i class="fa fa-flask"></i> Science </a><br/>
        <% end %>
        <% if !@game.sports_trophy_p1? %>
            <a class="btn btn-large btn-primary" style="width: 170px; margin-bottom: 1px; margin-left: 5px; margin-right: 5px;" href="#" onclick="LaunchQuestion('Sports')">
              <i class="fa fa-futbol-o"></i> Sports </a>
        <% end %>
        <% %>
        <a class="btn btn-large btn-primary" style="width: 170px; background-color: red; color: #ffffff; margin-bottom: 1px; margin-left: 5px; margin-right: 5px;" href="#" onclick="LaunchQuestion('Sports')">
          Challenge </a>

      </div>
    </div>
  </div>
  <canvas id="wheelcanvas" width="500" height="500" onclick="spin();"></canvas>
</div>

<!-- Subject Modal End -->


<!-- Subject Modal Display -->

<% if correct_answers == 3 %>
    <script> $('#select_subject').modal('show') </script>
<% end %>

<!-- Subject Modal End of Display -->

<!--  Challenge Modal  -->
<!--

<form id="multiselectForm" method="post" class="form-verticle">
  <div class="form-group">
    <label class="col-xs-3 control-label">Gender</label>
    <div class="col-xs-5">
      <select class="form-control" name="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-3 control-label">Browser</label>
    <div class="col-xs-5">
      <select class="form-control" name="browsers" multiple>
        <option value="chrome">Google Chrome</option>
        <option value="firefox">Firefox</option>
        <option value="ie">IE</option>
        <option value="safari">Safari</option>
        <option value="opera">Opera</option>
        <option value="other">Other</option>
      </select>
    </div>
  </div>
</form>




-->

<!-- Challenge Modal End  -->

<script>
    drawRouletteWheel()
</script>


</body>

</html>