


<head>
  <%= stylesheet_link_tag "rules", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
<br/>
<br/>

<!-- Name tied to ID for current user  -->
<div class="container-fluid" style="margin-bottom: 3%">
  <div class="row">
    <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
      <ul class="nav nav-pills nav-justified thumbnail">
        <li class="active"><a href="#">
          <h1 class="list-group-item-heading"><%= current_user.name %></h1>


        </a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid" id="paypal_group" style="padding-bottom: 2%;">
  <div class="row">
    <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">

      <div class="col-xs-10 col-sm-3 col-md-2 col-lg-4">
        <%= link_to game_game_path(:id => 0, :game_id => 0, :player2_id => Game.random_player.id), class: 'btn btn-primary btn-lg', id: 'cont-btn', title: 'Play Random User'  do %>
            Play Random User
        <% end %>
      </div>

      <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4">
        <%= form_tag statistics_index_path, :method => 'get' do %>
            <%= search_field_tag :search, params[:search], placeholder: 'Enter a name here' %>
            <%= submit_tag "Search for Player", :name => nil, class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>


      <div class="col-xs-10 col-sm-3 col-md-2 col-lg-4">
        <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#paypal_modal" style="float: right;">
          Buy More Coins!
        </button>
      </div>

    </div>
  </div>

</div>
</body>

<a href="#" class="list-group-item active">
  <h4>Active Games</h4>
</a>

<div class="list-group">
  <% if @active_games.any? %>

      <% @active_games.each do |game| %>

              <li class="list-group-item" >
                <% if game.players_turn?(current_user.id) %>
                    <h5 class="list-group-item-heading">Playing: <%=game.opponent(current_user.id).name + ".  " %>It's your turn.</h5>
                    <%= link_to game_game_path(:game_id => game.id, :player2_id => game.player2_id), class: 'btn btn-primary btn', id: 'cont-btn', title: 'Continue Game' do %>
                        Continue Game
                    <% end %>

                <% else %>
                    <h5 class="list-group-item-heading">It's <%= game.opponent(current_user.id).name %>'s turn.</h5>
                <% end %>
                <%= link_to game_end_game_path(:game_id => game.id), class: 'btn btn-danger btn', id: 'end-btn', title: 'End Game',
                            :data => {:confirm => 'Forfeiting a game counts as a loss. Are you sure?'} do %>
                    End Game
                <% end %>

              </li>

      <% end %>
  <% else %>
      <h4>You have no active games.</h4>
  <% end %>
</div>

<!-- gets finished games for current user onclick  -->
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4>Completed Games</h4>
  </a>
  <% if @finished_games.any? %>
      <% @finished_games.each do |game| %>

              <a href="#" class="list-group-item"><%= "Player 1: " + game.player1.name + ",  Player 2: " + game.player2.name + ", Winner: " + User.find(game.winner_id).name %></a>
          <% end %>
      <% else %>

      <h4>You have no completed games.</h4>
  <% end %>
</div>


<!-- Gets a list of all users returns list minus current user  -->

<!--   List of all users ove to index page after all project goals are met

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4>All Users</h4>
  </a>

  <% @playable_users.each do |player2| %>
      <li class="list-group-item">
        <span class="btn btn-large" style="float: right">
        <%= link_to game_game_path(:player2_id => player2.id, :game_id => 0), class: 'btn btn-primary btn', id: 'cont-btn', title: 'Play New Game' do %>
            Play New Game
        <% end %>
        </span>
        <%= player2.name %>
      </li>
  <% end %>
</div>


-->



<div class="modal fade" id="paypal_modal" tabindex="-1" role="dialog" aria-labelledby="subject_modal_label" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="align-content: center;">
  <div class="modal-dialog">
    <div class="modal-content " style=" border: 2px solid darkblue; background: lightblue">


      <div class="modal-body">

        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
          <label class="fa fa-cart-plus fa-2x">&nbsp;&nbsp; 10 Coins<br/>$.99 </label>

          <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="FK4LZX7P8XSKE">
            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>



        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
          <label class="fa fa-cart-plus fa-2x">&nbsp; 50 Coins<br/>$4.49 </label>

          <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="P4D3XKW4LF9R8">
            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>



        <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
          <label class="fa fa-cart-plus fa-2x"> 100 Coins<br/>$8.49 </label>

          <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="2QKDGH8N2XCNJ">
            <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
          <p>
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: right;" >Cancel</button>
          </p>
        </div>

      </div>   <!-- modal body -->


      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

