<div class="container">
  <%= link_to game_game_path(:player2_id => @user.id, :game_id => 0), id: 'cont-btn', title: 'Play New Game' do %>
      Play <%= @user.name %>
  <% end %>
  <h4>Your statistics compared to <%= @user.name %>'s</h4>
  <table class="table">
    <thead>
    <tr>
      <th>Player Attributes</th>
      <th>You</th>
      <th><%= @user.name %></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Level</td>
      <td><%= current_user.level %></td>
      <td><%= @user.level %></td>
    </tr>
    <tr>
      <td>Experience</td>
      <td><%= current_user.experience_level %></td>
      <td><%= @user.experience_level %></td>
    </tr>
  <%= render 'games' %>
  <%= render 'categories' %>
  <%= render 'current_user_achievements' %>
  <%= render 'user_achievements' %>
    </tbody>
  </table>
</div>



