<header>
  <%= stylesheet_link_tag "game.css.scss", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</header>
<body>
<div class="container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="container-fluid">

        <h1>
          <%= @user.name %> &nbsp;&nbsp;
          <%= link_to game_game_path(:player2_id => @user.id, :game_id => 0), class: 'btn btn-primary btn', id: 'cont-btn', title: 'Play New Game' do %>
              Play <%= @user.name %>  &nbsp;&nbsp;&nbsp;
              Level: <%= @user.level %>
              Score: <%= @user.score %>
          <% end %></h1>
        <h2>Level: <%= @user.level %></h2>


        <p>
        <h3>
          Percent of Games Won Against <%= @user.name %>:
          <%= Game.percent_games_won_against_user(current_user.id, @user.id) %>%
        </h3>
        </p>


        <p>
        <ul>
          <li>Total Games: &nbsp;&nbsp;<%= @user.total_games %></li>
          <li>Total Wins: &nbsp;&nbsp;<%= @user.total_wins  %></li>

          <li>Total Losses: &nbsp;&nbsp;<%= @user.total_games - @user.total_wins  %></li>

          <li>Percent of games won: &nbsp;&nbsp;<%= @user.percent_answered_correctly(@user.total_games, @user.total_wins)%></li>

        </ul>
        </p>

        <p>
        <h3>Statistics by subject:</h3>
        </p>

        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

          <ul>
            <h4>Art:</h4>
            <li>Total Question: <%= @user.art_total_count  %></li>
            <li>Answered Correctly: <%= @user.art_correct_count  %></li>
            <li>Percent Correct: <%= Game.percent_answered_correct_by_subject(@user.art_correct_count , @user.art_correct_count) %></li>

            <h4>Entertainment: </h4>
            <li>Total Question: <%= @user.entertainment_total_count  %> </li>
            <li>Answered Correctly: <%= @user.entertainment_correct_count  %></li>
            <li>Percent Correct: <%= Game.percent_answered_correct_by_subject(@user.entertainment_total_count, @user.entertainment_correct_count) %></li>

            <h4>Geography:</h4>
            <li>Total Question: <%= @user.geography_total_count  %></li>
            <li>Answered Correctly: <%= @user.geography_correct_count  %></li>
            <li>Percent Correct: <%= Game.percent_answered_correct_by_subject(@user.geography_correct_count , @user.geography_total_count) %></li>
          </ul>

        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

          <ul>
            <h4>History:</h4>
            <li>Total Question: <%= @user.history_total_count  %></li>
            <li>Answered Correctly: <%= @user.history_correct_count  %></li>
            <li>Percent Correct: <%= Game.percent_answered_correct_by_subject(@user.history_correct_count , @user.history_total_count) %></li>

            <h4>Sports:</h4>
            <li>Total Question: <%= @user.sports_total_count  %></li>
            <li>Answered Correctly: <%= @user.sports_correct_count  %></li>
            <li>Percent Correct: <%= Game.percent_answered_correct_by_subject(@user.sports_total_count , @user.sports_correct_count) %></li>

            <h4>Science:</h4>
            <li>Total Question: <%= @user.science_total_count  %></li>
            <li>Answered Correctly: <%= @user.science_correct_count  %></li>
            <li>Percent Correct: <%= Game.percent_answered_correct_by_subject(@user.science_correct_count , @user.science_total_count) %></li>
          </ul>
        </div>

        <h3>Achievements:</h3>
        <% @user.badges.each do |badge| %>

              <i class="<%= badge.custom_fields[:icon] %>"  ></i>
            <i><%= badge.description %></i>
</br>
        <% end %>


      </div>
    </div>
  </div>
</div>
</body>