<% month_id = @month_id %>
<% if month_id.nil? %>
    <% month_id = 0 %>
<% end %>


<!DOCTYPE html>
<html>
<head>
  <title>SnapTrivia</title>
  <%= stylesheet_link_tag    "rules", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<br>
<h1>Site Stats</h1>
<h3>Annual Average of Questions Answered Correct by Subject</h3>
<h5><%= Subject::ART %>: <%= GameStat.overall_average_by_subject(Subject::ART) %>%</h5>
<h5><%= Subject::ENTERTAINMENT %>: <%= GameStat.overall_average_by_subject(Subject::ENTERTAINMENT) %>%</h5>
<h5><%= Subject::GEOGRAPHY %>: <%= GameStat.overall_average_by_subject(Subject::GEOGRAPHY) %>%</h5>
<h5><%= Subject::HISTORY %>: <%= GameStat.overall_average_by_subject(Subject::HISTORY) %>%</h5>
<h5><%= Subject::SCIENCE %>: <%= GameStat.overall_average_by_subject(Subject::SCIENCE) %>%</h5>
<h5><%= Subject::SPORTS %>: <%= GameStat.overall_average_by_subject(Subject::SPORTS) %>%</h5>
</br>
<h3>
  Monthly Average of Questions Answered Correct by Subject
</h3>

<form action = "/statistics/site_stats">
  <%= select_tag(:month_id, options_for_select(GameStat.months_hash, selected: :month_id)) %>
  <input type="submit">
</form>

<% if month_id.to_i >= 1 %>
    <h4><u><strong><%= GameStat.months_hash.key(month_id.to_i) %></strong></u></h4>
    <h5><%= Subject::ART %>: <%= GameStat.percentage_by_month_by_subject(@month_id.to_i, Subject::ART) %> %</h5>
    <h5><%= Subject::ENTERTAINMENT %>: <%= GameStat.percentage_by_month_by_subject(@month_id.to_i, Subject::ENTERTAINMENT) %>%</h5>
    <h5><%= Subject::GEOGRAPHY %>: <%= GameStat.percentage_by_month_by_subject(@month_id.to_i, Subject::GEOGRAPHY) %>%</h5>
    <h5><%= Subject::HISTORY %>: <%= GameStat.percentage_by_month_by_subject(@month_id.to_i, Subject::HISTORY) %>%</h5>
    <h5><%= Subject::SCIENCE %>: <%= GameStat.percentage_by_month_by_subject(@month_id.to_i, Subject::SCIENCE) %>%</h5>
    <h5><%= Subject::SPORTS %>: <%= GameStat.percentage_by_month_by_subject(@month_id.to_i, Subject::SPORTS) %>%</h5>
<% end %>


</br>
<h3>
  Weekly Average of Questions Answered Correct by Subject
</h3>

<% if month_id.to_i >= 1 %>
    <h4><u><strong><%= GameStat.months_hash.key(month_id.to_i) %></strong></u></h4>
    <% GameStat.weekly_stats_by_month(@month_id.to_i).each do |d| %>
<h5><%= d %></h5>
    <% end %>
<% end %>


</body>
</html>