<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container-fluid">

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-offset-4">
      <h4>Search Results</h4>


      <% @search_results.each do |result|%>

          <%= link_to game_game_path(:player2_id => result.id, :game_id => 0), class: 'btn btn-primary btn', id: 'cont-btn', title: 'Play New Game' do %>
              Play New Game with <%= result.name %>  &nbsp;&nbsp;&nbsp; Level: <%= result.level %>  Score: <%= result.score %>
          <% end %>
          <%= link_to user_show_path(:user_id => result.id), class: 'btn btn-primary btn', id: 'cont-btn', title: 'View Player Profile' do %>
              View <%= result.name %>'s Profile
          <% end %>

      <% end %>

    </div>
  </div>
</div>
    </div>